{
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "printWidth": 120,
  "arrowParens": "avoid",
  "tabWidth": 2,
  "quoteProps": "consistent",
  "trailingComma": "none",
  "bracketSpacing": true
}