@font-face {
  font-family: Gilroy-Bold;
  src: url(/fonts/Gilroy-Bold.ttf);
}

@font-face {
  font-family: Gilroy-SemiBold;
  src: url(/fonts/Gilroy-Semibold.ttf);
}

@font-face {
  font-family: Gilroy-Regular;
  src: url(/fonts/Gilroy-Regular.ttf);
}

@font-face {
  font-family: Gilroy-Medium;
  src: url(/fonts/Gilroy-Medium.ttf);
}

@font-face {
  font-family: Gilroy-Black;
  src: url(/fonts/Gilroy-Black.ttf);
}

@font-face {
  font-family: Gilroy-Thin;
  src: url(/fonts/Gilroy-Thin.ttf);
}
