.token-selector {
  text-align: center;

}

.truncate {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;  
}

.myTransaction {
  background:#363f49;  
}

.InstallMetaMask {
  position: relative;
  height: 200px;
  margin-top:200px;
  
  
  text-align: center;
 }
 
 .LoadingImage {
    display:block; 
    margin:0 auto;
    text-align:center
 }