

table {
  border-collapse: collapse;
    background: #1b1c1f;

}

th {
  color:#727272;
  background:#1b1c1f;
  text-align: left;
}

td {
  color:#a0a0a0;
  

}

th, td {
  vertical-align: middle;

  padding: 15px;
  border: 1px solid #252526;
  
}

table{
  width:calc(100% - 200px);
  margin-left: 100px;
  margin-top:40px;
  margin-bottom:40px;
}

a {
  color: #6699cb;
}

.truncate {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;  
}

.myTransaction {
  background:#363f49;  
}

.InstallMetaMask {
  position: relative;
  height: 200px;
  margin-top:200px;
  
  
  text-align: center;
 }

 
 .LoadingImage {
    display:block; 
    margin:0 auto;
    text-align:center
 }