

table {
  border-collapse: collapse;
    background: #37474f;

}

th {
  color:#78909c;
  background:#263238;
  text-align: left;
}

td {
  color:#dbdbdb;
  border: 1px solid #455b64;

}

th, td {
  vertical-align: middle;

  padding: 15px;
  
}

table{
  width:calc(100% - 200px);
  margin-left: 100px;
  margin-top:40px;
  margin-bottom:40px;
}

a {
  color: pink;
}

.truncate {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;  
}

.myTransaction {
  background:#50474f;  
}