body {
  background:#17181a;
  margin: 0;
  padding: 0;  
  font-family:PxGrotesk,sans-serif;
  
  line-height:1;
  font-size: 14px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

table {
  border-collapse: collapse;
  background: #1b1c1f;
  
}

th {
  color:#727272;
  background:#1b1c1f;
  text-align: left;
}

td {
  color:#a0a0a0;
}

th, td {
  vertical-align: middle;  

  padding: 15px;
  border: 1px solid #252526;
  
}

a {
  color: #6699cb;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: none;
}