body {
  /*background:#17181a;*/
  /*background:#ededed;*/
  margin: 10px;
  padding: 0;  

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 400;
  font-size: 12px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

