body {
  background:#263238;
  margin: 0;
  padding: 0;  
  font-family:PxGrotesk,sans-serif;
  font-weight:500;
  line-height:1;
  

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
