body {
  /*background:#17181a;*/
  /*background:#ededed;*/
  margin: 0;
  padding: 0;  

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  font-size: 16px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

table {
  border-collapse: collapse;
  /*background: #1b1c1f;*/
  background:#000000;
  
}

th {
  color:#727272;
  /*background:#252527;*/
  background:#0f0f0f;
  text-align: left;
}

td {
  color:#a0a0a0;
}

th, td {
  vertical-align: middle;  

  padding: 15px;
  border: 1px solid #252526;
  
}